* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.yellow {
  color: blue;
  background-color: blue !important;
}

.active {
  text-decoration: underline;
  text-decoration-color: #eb5e43;
  text-decoration-thickness: 2px;
}

.path {
  stroke-dasharray: 1200;
  stroke-dashoffset: 1200;
  animation: dash 3s ease-in forwards;
  animation-iteration-count: 1;
  animation-delay: 1s;
}

path.color {
  animation: gopher-color 4s ease-in;
  animation-iteration-count: 1;
  fill: #73deec;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes gopher-color {
  from {
    fill: #62b4be;
  }
  to {
    fill: #73deec;
  }
}
